<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/images/hammock.png" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
