<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <script src="/javascripts/script.js"></script>
    <link rel="shortcut icon" href="/images/hammock.png" />
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <div class="nav-wrapper teal accent-4">
        <a href="/" class="brand-logo title">{{title}}</a>
        <ul id="nav-mobile" class="right">
          <li><a class = "add" href="/add"> + </a></li>
        </ul>
      </div>
    </nav>

    {{{body}}}
  </body>
</html>
